@use "variables" as v;

#certificate-heading {
	font-size: 1.5rem;
}

.certificate-list-item {
	list-style-type: none;
	text-decoration: none;
	a {
		button:hover {
			background-color: v.$buttonhoverbackgroundcolour;
		}
	}
}
