@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

$code-font: "Fira Code", monospace;

.jumbotron-fluid {
  height: 100vh;
}

#titleHeading {
  font-family: $code-font;
}

#titleCursor {
  position: absolute;
}
