#jumbotron-heading {
	div {
		padding: 1.5rem 2ch 1.5rem 1ch;
		h1 {
			font-size: 1.8rem;
			font-weight: normal;
			padding: 0.25rem 1rem;
		}
		h2 {
			font-size: 1.3rem;
			font-weight: lighter;
			padding: 0.25rem 1rem;
		}
	}
}

#email-contact {
	position: absolute;
	top: 0.5rem;
	left: 1rem;
	color: #cccccc;
	font-size: 0.8rem;
}

#title-cursor {
	position: absolute;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.subheading-fade {
	animation: 3s fade-in forwards;
}
