@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

$code-font: "Fira Code", monospace;

.jumbotron {
  height: 100vh;
  margin: 0 !important;
}

#titleHeading {
  font-size: 3em;
  font-family: $code-font;
}

#subHeading {
  font-family: $code-font;
  font-size: 2.6em;
}

#titleCursor {
  position: absolute;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.fadeIn {
  animation: 3s fade-in forwards;
}

@keyframes translate {
  0% {
  }
  100% {
    transform: translateY(-40vh);
    font-size: 11.5px;
  }
}

.translateHeader {
  animation: 2.5s translate 3.1s forwards;
}
