@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import "./global.scss";

#projectList {
  font-family: "Amatic SC", cursive;
}

.projectName {
  font-size: 3rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.projectShortDescription {
  height: 3rem;
}

.iconsContainer {
  height: 8rem;
  @media (min-width: 425px) and (max-width: 768px) {
    height: 10rem;
  }
  img {
    max-height: 4.5rem;
  }
}

.__react_component_tooltip {
  font-size: 1.5rem !important;
}

.projectLinkButton {
  width: 100%;
  &:hover {
    background-color: $buttonhoverbackgroundcolour;
  }
}
