@import "mixins";

#certificateHeading {
  font-size: 1.5em;
}

.certificateListItem {
  list-style-type: none;
  text-decoration: none;
  a {
    button:hover {
      background-color: $buttonhoverbackgroundcolour;
    }
  }
}
